{% extends "base.html" %}
{% from "song/song_search_box.html" import song_search_box %}

{% block title %}Create Tanda{% endblock %}
{% block content %}
<h1>Create a New Tanda</h1>
<form method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.tanda_type_id.label(class="form-label") }}
        {{ form.tanda_type_id(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.comments.label(class="form-label") }}
        {{ form.comments(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.spotify_link.label(class="form-label") }}
        {{ form.spotify_link(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.youtube_link.label(class="form-label") }}
        {{ form.youtube_link(class="form-control") }}
    </div>

    <!-- Song Search and Selection -->
<h2>Add Songs to Tanda</h2>
{{ song_search_box(orchestras, singers, types, styles, action_url='', method='get', use_ajax='True') }}

<div class="form-group">
    <label>Selected Songs:</label>
    <ul id="selected-songs" class="list-group"></ul>
</div>
{{ form.song_ids() }}

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/tanda.js') }}"></script>
{% endblock %}